@use 'sass:math';
@import 'vars';

/// Check if two scss values are safe to add, subtract, or multiply.
/// @example scss Input
///  @if is-compatible($font-size, $line-height) {
///    @return math.div($line-height, $font-size);
///  } @else {
///    @return $line-height;
///  }
@function is-compatible($a, $b) {
  // Check if both values are numbers, for scss values like 3% or 10px count as numbers
  @if (type-of($a) == 'number' and type-of($b) == 'number') {
    // Check if they are unitless so we can do transformations
    @if (math.is-unitless($a) and math.is-unitless($b)) {
      // Extra check to make sure they are compatible for math.div later on
      @return math.compatible($a, $b);
    } @else {
      @return false;
    }
  } @else {
    @return false;
  }
}

// Use two pixel values to convert line-height into a unitless number
// @example scss Input
//   p {
//     font-size: 16px;
//     line-height: line-height(16, 30);
//   }
@function line-height($font-size, $line-height) {
  @if is-compatible($font-size, $line-height) {
    @return math.div($line-height, $font-size);
  } @else {
    @return $line-height;
  }
}

// Use two pixel values to convert letter-spacing into an em value
// @example scss Input
//   p {
//     font-size: 16px;
//     // letter-spacing: -0.1px;
//     letter-spacing: letter-spacing(16, -0.1);
//   }
@function letter-spacing($font-size, $letter-spacing) {
  @if is-compatible($font-size, $letter-spacing) {
    @return #{math.div($letter-spacing, $font-size)}em;
  } @else {
    @return $letter-spacing;
  }
}

// Define font-size, line-height and letter-spacing in function
// @example scss Input
//   p {
//     // font-size: 16px;
//     // letter-spacing: -0.1px;
//     // line-height: 1.5; // This is line-height 24px and font-size: 16px
//     @include font-size(16, 24, -0.1)
//   }
@mixin font-size($font-size, $line-height: 1, $letter-spacing: null, $font-weight: null) {
  @if math.is-unitless($font-size) {
    font-size: px($font-size);
  } @else {
    font-size: $font-size;
  }

  line-height: $line-height;
  font-weight: $font-weight;

  @if math.is-unitless($letter-spacing) {
    letter-spacing: #{$letter-spacing}em;
  } @else {
    letter-spacing: $letter-spacing;
  }
}

/* prettier-ignore */
$typography-system: (
  mobile: (
    h1: (48, 1, 0, 400),
    h2: (32, 1.2, 0, 400),
    h3: (24, 1.2, 0, 600),
    h4: (24, 1.2, 0, 400),
    h5: (18, 1.3, 0, 500),
    h6: (16, 1.3, 0.01, 500),
    paragraph-l: (18, 1.3, 0, 400),
    paragraph: (16, 1.3, 0, 400),
    paragraph-s: (12, 1.3, 0.04, 400),
  ),
  mobileLg: (
    h1: (64, 1, 0, 400),
    h2: (40, 1.2, 0, 400),
    h5: (18, 1.3, 0, 500),
    h6: (16, 1.3, 0.01, 500),
  ),
  tablet: (
  ),
  desktopSm: (
  ),
  desktopMd: (
    h1: (80, 1, 0, 400),
    h2: (48, 1.2, 0, 400),
    h3: (32, 1.2, 0, 600),
    h4: (32, 1.2, 0, 400),
    h5: (22, 1.3, 0, 500),
    h6: (18, 1.3, 0.01, 500),
    paragraph-l: (22, 1.3, 0, 400),
    paragraph: (18, 1.3, 0, 400),
    paragraph-s: (14, 1.3, 0.02, 400),
  ),
  desktopLg: (
  )
);

@mixin font-style($element) {
  $mobile: map-get($typography-system, mobile);
  $mobileLg: map-get($typography-system, mobileLg);
  $tablet: map-get($typography-system, tablet);
  $desktopSm: map-get($typography-system, desktopSm);
  $desktopMd: map-get($typography-system, desktopMd);
  $desktopLg: map-get($typography-system, desktopLg);

  @if (map-has-key($mobile, $element)) {
    @include font-size(map-get($mobile, $element)...);
  }

  @if (map-has-key($mobileLg, $element)) {
    @include breakpoint(mobileLg) {
      @include font-size(map-get($mobileLg, $element)...);
    }
  }

  @if (map-has-key($tablet, $element)) {
    @include breakpoint(tablet) {
      @include font-size(map-get($tablet, $element)...);
    }
  }

  @if (map-has-key($desktopSm, $element)) {
    @include breakpoint(desktopSm) {
      @include font-size(map-get($desktopSm, $element)...);
    }
  }

  @if (map-has-key($desktopMd, $element)) {
    @include breakpoint(desktopMd) {
      @include font-size(map-get($desktopMd, $element)...);
    }
  }

  @if (map-has-key($desktopLg, $element)) {
    @include breakpoint(desktopLg) {
      @include font-size(map-get($desktopLg, $element)...);
    }
  }
}
